@import "../../assets/styles/mixin.scss";

.sidebar {
  position: fixed;
  margin-top: 8rem;
  top: 0;
  left: 0;
  bottom: 0;
  width: 24rem;
  padding: 2rem;
  overflow-y: auto;
}

.facet-wrapper {
  margin-bottom: 12px;
  padding-bottom: 12px;
  border-bottom: solid 1px #eee;
}

.facet-category-title {
  margin: 1rem 0;
  color: #888;
}

.facet-title {
  margin-top: 5px;
  font-weight: 500;
}

.form-checkbox {
  @include flex($dir: column, $gap: 5px);
  margin-top: 1rem;
  height: 150px;
  overflow: hidden;
  overflow-y: auto;

  .category-checkbox {
    @include flex($align: center, $gap: 5px);

    label {
      &:hover {
        color: #b32500;
      }
    }
  }
}

.facet {
  margin-bottom: 2rem;
}

.check-rating {
  @include flex($dir: column, $gap: 5px);
  margin-top: 1rem;

  .rating-stars {
    @include flex($gap: 5px);

    &:hover {
      color: #b32500;
      cursor: pointer;
    }

    .starts-item {
      pointer-events: none;
    }
  }
}

.prices-list {
  @include flex($dir: column, $gap: 5px);
  margin-top: 1rem;

  li {
    &:hover {
      color: #b32500;
      cursor: pointer;
    }
  }
}

.active {
  color: black;
  font-weight: 700;
}

.active1 {
  color: black;
  font-weight: 700;
}

//---------------------------------

.category {
  &_list {
    @include flex($dir: column, $gap: 5px);
  }

  &-item > p {
    span:last-child {
      &:hover {
        color: #b32500;
        cursor: pointer;
      }
    }
  }

  &_link {
    color: #000000;

    &:hover {
      color: #b32500;
    }
  }

  &_sub-list {
    margin-left: 1.4rem;
    margin-top: 1rem;
    font-size: 1.3rem;
  }

  &_sub-item {
    margin-bottom: 1rem;

    &:last-child {
      margin-bottom: 5px;
    }

    & > p {
      span:last-child {
        &:hover {
          color: #b32500;
          cursor: pointer;
        }
      }
    }
  }

  &-icon {
    margin-right: 5px;
    font-size: 1.8rem;
  }
}
